apiVersion: v1
kind: Pod
metadata:
  name: backend-pod
  namespace: net-demo
  labels:
    app: backend-pod
spec:
  containers:
  - name: backend-pod
    image: nginx:alpine
    ports:
      - containerPort: 80
